@import "tailwindcss";

:root {
  --font-syne: 'Syne', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;

  --color-accent: #FF3D5E;
  --color-accent-hover: #E02B4A;
  --color-dark: #0D0D0D;
  --color-surface: #F5F3EF;
  --color-surface-2: #ECEAE4;
  --color-green: #1D9E75;
  --color-gray: #888780;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-dm-sans);
  background-color: var(--color-surface);
  color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-syne);
  font-weight: 700;
  letter-spacing: -0.03em;
}

aside {
  background-color: #0D0D0D;
}